:root {
  --main-color: #f46036;
  --accent-light: #fef0ec;
}

html {
  height: 100%;
}

body {
  font: Helvetica, Arial, sans;
  height: 100%;
  margin: 0;
}

#map {
  height: 100%;
}

#map h1 {
  color: var(--main-color);
  font-size: 18px;
  margin: 0 0 0.2em 0;
}

#map p {
  margin: 0 0 0.2em 0;
}

/* popup box */
.leaflet-popup .leaflet-popup-content-wrapper {
  border-radius: 0;
  border: 4px solid var(--main-color);
  background-color: #fefbeb;
}

/* popup tip */
.stylePopup .leaflet-popup-tip {
  background-color: var(--main-color);
}
