:root {
  --red: #f46036;
  --light-yellow: #fefbeb;
  --text: #2c2c2c;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: lightgray;
  display: flex;
}

#sidebar-container {
  background-color: var(--light-yellow);
  flex: 1;
  padding: 1em;
}

#sidebar-container h1 {
  color: var(--red);
}

#map-container {
  flex: 3;
  height: 100%;
}

.leaflet-container {
  height: 100%;
}

/* popup box */
.leaflet-popup .leaflet-popup-content-wrapper {
  border-radius: 5px;
  border: 3px solid var(--red);
  background-color: var(--light-yellow);
  max-width: 200px;
}

/* popup tip */
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background-color: var(--red);
}

.leaflet-popup-content {
  margin: 1em;
}

.leaflet-popup-content h3 {
  margin: 0;
}

.leaflet-popup-content p {
  margin: 0.6em 0 0.6em 0;
}
