:root {
  --red: #f46036;
  --light-yellow: #fefbeb;
  --text: #2c2c2c;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: lightgray;
  display: flex;
}

#sidebar-container {
  background-color: var(--light-yellow);
  flex: 1;
  padding: 1em;
}

#map-container {
  background-color: var(--red);
  flex: 3;
}
